.layout {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #1e293b;
  color: white;
}

/* Main Section */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  height: 60px;
  background-color: #0f172a;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

/* Page Content */
.content {
  flex: 1;
  background-color: #f1f5f9;
  padding: 20px;
}