<h2 class="title">
  {{ editingEmployeeId ? 'Edit Employee' : 'Add Employee' }}
</h2>

<!-- FORM SECTION -->
<div class="form-container">
  <input [(ngModel)]="newEmployee.name" placeholder="Name" class="input" />
  <input [(ngModel)]="newEmployee.email" placeholder="Email" class="input" />
  <input [(ngModel)]="newEmployee.role" placeholder="Role" class="input" />

  <button 
    *ngIf="!editingEmployeeId" 
    (click)="addEmployee()" 
    class="btn primary"
  >
    Add
  </button>

  <button 
    *ngIf="editingEmployeeId" 
    (click)="updateEmployee()" 
    class="btn warning"
  >
    Update
  </button>
</div>

<hr />
<br />

<input 
  [(ngModel)]="searchText"
  (input)="filterEmployees()"
  placeholder="Search employees..."
  class="search-box"
/>

<!-- TABLE SECTION -->
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let emp of getPaginatedEmployees()">
        <td>{{ emp.name }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.role }}</td>
        <td>
          <button class="btn edit" (click)="editEmployee(emp)">Edit</button>
          <button class="btn delete" (click)="deleteEmployee(emp.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--Pagination-->
<div class="pagination">
  <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">
    Prev
  </button>

  <span>Page {{ currentPage }}</span>

  <button 
    (click)="currentPage = currentPage + 1"
    [disabled]="currentPage * itemsPerPage >= filteredEmployees.length">
    Next
  </button>
</div>

<!-- DELETE CONFIRMATION POPUP -->
 <div class="modal-overlay" *ngIf="showDeletePopup">
  <div class="modal-box">
    <h3>Confirm Delete</h3>
    <p>Are you sure you want to delete this employee?</p>

    <div class="modal-actions">
      <button class="btn delete" (click)="confirmDelete()">Yes</button>
      <button class="btn cancel" (click)="closePopup()">Cancel</button>
    </div>
  </div>
</div>